<%- include("partials/header"); -%>
<div class="post">

  <h1 class="postHeading" style="color:#8FBDD3"><%=title%></h1>
  <p class="contentSpace"><%=content%></p>
</div>
<%- include("partials/footer"); -%>
